.container {
    background-color: rgb(210, 249, 172);
    border: 2px solid pink;
    padding: 40px;
}

.welcome {
    background-color: rgb(167, 251, 136);
    border: 1px rgb(246, 150, 166) solid;
    padding: 30px;
}

.container-title{
    background-color: white;
    border-radius: 20px;
    border: 2px rgb(121, 233, 122) solid;
    text-align: center;
    padding: 40px;
    color: green;
}

.p-text{
    text-align: center;
    font-size: 14px;

}

